.div-wrapper {
  display: flex;
  flex-direction: column;
  width: 355px;
  height: 230px;
  margin: 50px auto;
  padding: 20px;
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  border: 1px solid;
  border-color:white;
  background: rgb(104,104,117);
  background: linear-gradient(90deg, rgba(104,104,117,1) 0%, rgba(66,207,147,1) 48%, rgba(177,194,198,1) 100%);
  box-shadow: 4px 4px 4px #dedede;
}

.div-form {
  margin: 10px;
}

h1 {
  margin:5px 10px;
  color:white;
  font-family: "Times New Roman", Times, serif;

}

.div-form > input {
  width: 290px;
  height: 30px;
  border-color: grey;
  background-color: rgb(0, 63, 48);
  opacity: 0.5;
  color: white;
  font-size: 18px;
  padding-left: 40px;
  border: 1px solid white;
  border-radius: 8px; 
}

#username {
  background-image: url('/home/milo/ReactProject/frontend/login-app/src/user-logo.png');
  background-size: 35px;
  background-repeat: no-repeat;
}

#password {
  background-image: url('/home/milo/ReactProject/frontend/login-app/src/pass-logo.png');
  background-position: 5px;
  background-size: 20px;
  background-repeat: no-repeat;
}
/* 
.div-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  flex-basis: 100%;
} */


.div-footer {
  display: flex;
  justify-content: space-between;
  margin: 16px;
}


.div-footer > button {
  width: 120px;
  height: 40px;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 8px;
} 


.div-footer-label {
  display: flex;
  flex-direction: column;
  font-size: 14px;;
}

.div-footer-label > label{
  margin-bottom:3px;
}

a { 
  color: black;
}


button:hover
{
  opacity: 1;
  background: rgb(142,145,156);
  background: radial-gradient(circle, rgba(142,145,156,1) 0%, rgba(100,209,163,1) 100%);
  border: 1px black solid;
}

button:hover
{
  cursor: pointer;
}

